*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: goldenrod;
}
.corpo{
    background-color: green;
    height: 50vh;
    width: 30vw;
    position: relative;
    top: 20vh;
    left: 20vw;
    border: solid;
    border-radius: 120px 120px 0 0;
    display: flex;
    align-items: center;
}
.olho-direito{
    position: absolute;
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 60px;
}
.olho-esquerdo{
    position: absolute;
    top:20vw;
    left:7vw;
    background-color: yellow;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.boca{
    position: absolute;
    background-color: red;
    width: 15vw;
    height: 5vh;
    border-radius: 0 0 30px 30px;
    top:30vh;
    right: 13vw;
}